
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('https://w0.peakpx.com/wallpaper/769/828/HD-wallpaper-gun-ammunition-bullet-gun-weapon.jpg');
  margin: auto;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ItemGeneral{
  display: flex;
  text-decoration: white;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.DescripcionItem{
  display:flex;
  flex-Direction:column;
  flex-wrap: wrap;
  align-Items:center;
  text-align: left;
  padding: 10px 10px;
  border: 10px solid blue;
  border-radius: 10%;
  background-color: white;
  max-width: 600px;
  
}
.ItemDetail{
  display:flex;
  flex-Direction:column;
  flex-wrap: wrap;
  align-Items:center;
  text-align: center;
  padding: 10px 10px;
  border: 10px solid blue;
  border-radius: 10%;
  background-color: white;
  opacity: 90%;
  max-width: 400px;
  min-width: 400px;

}
.ItemCount{
  display:flex;
  flex-Direction:column;
  align-Items:flex-start;
}
.botonera{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.botonera button{
  justify-content: space-evenly;
  margin: 5px ;
  width:auto;
}
.Item{
  margin-bottom: 10px;
  opacity: 90%;

}


.finalizarCompra Button{
  margin:10px

}
.finalizarCarrito Button{
  margin: 10px;
}
.Cart{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}
.CartItems{
  border: 10px solid green;
  border-radius: 10px;
  
  margin:10px 10px 10px;
  box-shadow: 5px 5px 5px grey;
  background-color: white;
  opacity: 90%;
}
.CartItems h3{
  text-decoration:underline;
}
.CheckOut{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Formulario form{
  display: flex;
  flex-direction: column;
  justify-items: center;

}

.carrousel{
  min-width: 200px;
  max-width: 800px;
  align-self: center;

}
.carrousel img{
  border-radius: 20%;
  
}
.Footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 10px;
}
.Footer img{
  max-width: 80px;
  border-radius: 80%;

}
.Footer ul li{
  list-style-type: none;
}