.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ItemDetail{
  display:flex;
  flex-Direction:column;
  align-Items:center;
  text-align: center;
  margin-left: 100px;
  margin-top: 100px;
  padding: 10px 10px;
  border: 10px solid blue;
  border-radius: 10%;
  width: 400px;
}
.ItemCount{
  display:flex;
  flex-Direction:column;
  align-Items:flex-start;
}
.botonera{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.botonera button{
  justify-content: space-evenly;
  margin: 5px ;
  width:auto;
}
.Item{
  margin-bottom: 10px;

}


.finalizarCompra Button{
  margin:10px

}
.finalizarCarrito Button{
  margin: 10px;
}
.Cart{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CartItems{
  border: 10px solid green;
  border-radius: 10px;
  width:fit-content;
  margin:10px 10px 10px;
}
.CartItems h3{
  text-decoration:underline;
}